.homePage {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0px 0;
    background: #FAFAFB;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
  }
  
  .wrapper {
    height: 221px;
    width: 80%;
    text-align: center;
    /* background-image: url('../../images/background_empty.svg'); */
    background-position-x: center;
    font-size: 14px;
  }